{% extends ':default:index.html.twig' %}

{% block title "Rest Customer's transactions" %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Customer's transactions</span></h1>
            </div>

            <div id="status">
                <table style="width:100%">
                    {% for transaction in transactions %}
                        {% if loop.first %}
                            <tr>
                                <th>Customer</th>
                                <th>Date</th>
                                <th>Value</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ transaction.customerId }}</td>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.currency }} {{ transaction.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
